.search {
  margin: 20px 0;
  position: relative;
  right: -5px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 50px;
}
.frame {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  max-width: 800px;
  margin: 10px auto;
}
h1 {
  font-family: "Orbitron", sans-serif;
  position: relative;
  right: -5px;
  color: white;
}
.info {
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);

  max-width: 800px;
}
.location {
  position: relative;
  float: right;
  right: 10px;
  margin: 20px 0;
  font-family: "Courier New", Courier, monospace;
  border-radius: 50px;
}
.location:hover {
  background-color: white;
  color: black;
}
.temperature {
  color: Black;
  margin: 2px auto;
  font-family: "Orbitron", sans-serif;

  font-size: 30px;
}
.tempUnit {
  color: Black;
  font-family: "Orbitron", sans-serif;
  cursor: default;
}
.tempUnit:hover {
  color: grey;
  text-decoration: none;
}
.days {
  font-family: "Orbitron", sans-serif;
  position: relative;
  float: right;
  top: 15px;
  right: 15px;
  color: white;
}
.line {
  width: 500px;
  position: relative;
  top: -100px;
}
.dash {
  font-size: 30px;
}
.container {
  position: relative;
  top: 30px;
}
.weatherCondition {
  font-size: 30;
  list-style: none;
  top: 30px;
  font-family: "Orbitron", sans-serif;
  text-transform: capitalize;
}
.weather-forecast {
  font-size: 10px;
  text-align: center;
  position: relative;
  float: right;
  right: -30px;
  top: 20px;
}
.weatherPic {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.forecast-temp {
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
  position: relative;
  left: 30px;
  margin: 3px;
  top: 20px;
}

.pic {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.icon {
  width: 50px;
}
.website {
  position: relative;
  top: 40px;
}
