.frame {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  max-width: 900px;
  margin: 10px auto;
  border-radius: 20px;
}
.form {
  height: 500px;
  width: 400px;
}
.search {
  margin: 20px 0;
  position: relative;
  right: -5px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 50px;
}
.location {
  position: relative;
  float: right;
  right: 10px;
  margin: 20px 0;
  font-family: "Courier New", Courier, monospace;
  border-radius: 50px;
}
.location:hover {
  background-color: white;
  color: black;
}
h1 {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  color: black;
}
.days {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  color: black;
}
.icon {
  display: block;
  margin: 0 auto;
}
.temperature {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}
.tempUnit.active {
  color: white;
}
.tempUnit {
  color: Black;
  font-family: "Orbitron", sans-serif;
  cursor: default;
}
.tempUnit:hover {
  color: grey;
  text-decoration: none;
}
.card {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.weatherCondition {
  font-size: 15 px;
  list-style: none;
  text-align: center;
  top: 30px;
  font-family: "Orbitron", sans-serif;
  text-transform: capitalize;
}
.weather-forecast {
  font-size: 20px;
  text-align: center;
  top: 10px;
  font-family: "Orbitron", sans-serif;
}
.website {
  text-align: center;
}
